@import url("search.css");

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

.mdg-nav {
  font-size: .9rem;
}

.jumbotron {
    background: #3C3E40;
    max-width:100%;
    height:auto;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#03a7dd', GradientType=1 );
    color: #FFFFFF;
    padding: 0px 0 0px 0;
    border-radius: 0;
    vertical-align: 0px;
    padding-bottom: 15px;
    min-height: calc(35vh - 20px); 
    background-image:url(/assets/images/Foremast-heroimage-1440.svg); 
    background-repeat: repeat; 
    background-position: center top; 
    background-size: cover;
    z-index: 10;
}

.jumbotron .container {
  text-align: center;
}

.jumbotron p {
  padding: 40px 0 0 0;
  font-size: 28px;
  font-weight: 300;
  width: 85%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron .btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 10px 50px;
}

.jumbotron .btn-outline-inverse:hover {
  color: #03A7DD;
  background-color: #fff;
  border-color: #fff;
}

.md-guide-feature .btn-lg {
  color: #03A7DD;
  border-color: #03A7DD;
}

.md-guide-feature .btn-lg:hover {
  color: #fff;
  background-color: #03A7DD;
}

.md-guide-feature {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: #fff;
}

.row {
  margin-top: -15px;
  margin-right: -15px;
  margin-left: -15px;
}

.md-guide-feature p, h1, h2, h3, h4, h5, h6 {
    color: #000;
}

.icon {
  font-size: 80px;
  color: #03A7DD;
  height: 100px;
  margin-bottom: 20px;
}

.lead {
  font-weight: 200;
  font-size: 19px;
  color: #555;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.col-sm-4 p {
  font-size: 15px;
  font-weight: 300;
  color: #555;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.half-rule {
  width: 100px;
  margin: 40px auto;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #99979c;
  background-color: #dbdbdb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}